.feedback__container {
  display: flex;
  justify-content: space-between;
  width: 300px;
  margin: 0 auto;
}

.feedback__button {
  display: inline-block;
  padding: 10px;
  border: 1px solid #000;
  cursor: pointer;
  transition: background-color 250ms linear;
  margin: 20px;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.5;
  color: #fff;
  border-radius: 6px;
}
.feedback__button:first-child {
  background-color: green;
}

.feedback__button:not(:first-child):not(:last-child) {
  background-color: orange;
}

.feedback__button:last-child {
  background-color: red;
}
